.recipe {
    width: 100%;
    overflow: auto;
    display: inline-block;
    padding: 0 1em 2em 1em;
    border: 1px solid transparent;
    text-align: center;
    box-sizing: border-box;

    .ingredient-list {
        list-style: url("../../../../assets/tickicon.jpg");
    }
    .hide {
        display: none;
    }
    @media screen and (max-width: 1200px) {
        padding: 0;
    }
}
.recipe:hover {
    border-style: solid;
    border-color: rgb(225, 223, 223);
    border-width: 1px;
    box-shadow: 5px 10px 18px #888888;
}
