header {
    display: flex;
    background-color: #fb0434;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
    h1 {
        color: white;
        font-size: 1.375em;
        margin: auto;
        padding: 0.125em;
        justify-self: left;
        align-self: left;
        margin-left: 0.75em;
        box-sizing: border-box;
    }
    ul {
        display: flex;
        list-style: none;
    }
    li {
        padding: 0 1em 0 1em;
        border-bottom: 2px solid transparent;
        margin-right: 0.125em;
        color: white;
        font-size: 0.75em;
    }
    li:hover {
        border-style: solid;
        border-width: 0 0 2px 0;
        border-color: white;
    }
    a {
        text-decoration: none;
        color: white;
    }
}
