.search-bar {
    margin: 0 3em 3em 3em;
    max-width: 50%;
    p {
        font-size: 0.75em;
    }
    input {
        border: 1px solid #c0c5c9;
        padding: 0.5em;
    }
    input:hover {
        border-color: #3e3ac2;
        border-radius: 3px;
    }
    .submit-button {
        background-color: #726fdf;
        color: white;
        border-radius: 2px;
        transition: background-color 0.5s linear;
    }
    .submit-button:hover {
        background-color: #0b03ff;
    }
    @media screen and (max-width: 1200px) {
        display: flex;
        margin: auto;
        flex-direction: column;
        text-align: center;
    }
}
