.recipe-list {
    display: flex;
    @media screen and (max-width: 1200px) {
        flex-direction: column;
    }

    .info {
        margin-top: 1em;
        display: block;
        width: 20%;
        height: inherit;
        background-color: black;
        color: #ff3c04;
        padding: 1em;
        h1 {
            font-size: 1.25em;
        }
        p {
            font-size: 0.75em;
        }
        @media screen and (max-width: 1200px) {
            margin: auto;
            width: 80vw;
            text-align: center;
        }
        @media screen and (max-width: 750px) {
            max-width: 80vw;
        }
        @media screen and (max-width: 550px) {
            max-width: 60vw;
        }
    }

    ul {
        list-style: none;
        columns: 2;
        list-style-position: inside;
        display: inline-block;

        @media screen and (max-width: 800px) {
            columns: 1;
            width: 100%;
            margin-left: 0;
            padding: 0;
            text-align: center;
            align-items: center;
            justify-content: center;
            align-content: center;
        }
    }
}
