.recipe-list {
    display: flex;
    @media screen and (max-width: 1200px) {
        flex-direction: column;
    }
    .info {
        margin-top: 1em;
        display: block;
        max-width: 40%;
        height: inherit;
        background-color: black;
        color: #ff3c04;
        padding: 1em;
        h1 {
            font-size: 1.25em;
        }
        p {
            font-size: 0.75em;
        }
        @media screen and (max-width: 1200px) {
            margin: auto;
            width: 80vw;
            text-align: center;
        }
    }

    ul {
        list-style: none;
        columns: 2;
        list-style-position: inside;
        display: inline-block;
        text-align: left;

        @media screen and (max-width: 600px) {
            columns: 1;
            width: 80vw;
            margin-left: 0;
            padding: 0;
        }
    }
}
