.login {
    input {
        display: block;
        padding: 0.5em;
        border-radius: 3px;
        border-width: 1px;
    }
    input:hover {
        border-color: blue;
        border-width: 1px;
        border-radius: 3px;
    }

    .login-form-button {
        padding: 0.5em;
        display: inline;
        border-style: none;
        border-width: 1px;
        border-radius: 3px;
        background-color: #726fdf;
        color: white;
        transition: background-color 0.5s linear;
    }
    .login-form-button:hover {
        background-color: #0b03ff;
    }
    .spacer {
        height: 0.75em;
    }
}
